* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* The universal selector effects all elements  */

body {
    background-color: #d9dcd6;
}
/* This sets the background of the entire body of the page */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The .header class selector effects everything in the html that has class="header" */

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* This effects every h1 element under an element with class="header" */

#seo {
    color: #d9dcd6;
}
/* This id just effects the "seo" in the h1 "Horision" */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This effects every nav element under an element with class="header" */

.header nav ul {
    list-style-type: none;
}
/* This effects every ul element under the nav elements under an element with class="header" */

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* The same pattern applies here */

a {
    color: #ffffff;
    text-decoration: none;
}
/* This applies to all links */

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This effects the figure with the id="hero" */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This class selector effects everything under <section></section> because it has class="content" */

p {
    font-size: 16px;
}
/* This applies to all text boxes within <p></p> */

.float-left {
    float: left;
    margin-right: 25px;
}
/* Each image with this class appears to the left of the element it's in */

.float-right {
    float: right;
    margin-left: 25px;
}
/* Each image with this class appears to the right of the element it's in */

.section-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This class selector effects everything with class="section-contentcontent" */


.section-content img {
    max-height: 200px;
}
/* This class selector effects every img under an element with class="section-contentcontent" */

.section-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This class selector effects every h2 under an element with class="section-contentcontent" */


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* This class selector effects everything under the <aside></aside> element because it contains class="benefits" */

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This class selector effects each article with class="benefit" */

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* This class selector effect each h3 under each article with class="benefit" */

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This class selector effect each img under each article with class="benefit" */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* This class selector effects the footer because it has class="footer" */

.footer h2 {
    font-size: 20px;
}
/* This class selector effects the h2 in the footer, because the footer has class="footer" */